packages/*/node_modules/
node_modules/
packages/*/dist/
packages/*/build/
dist/
build/

# Explicitly allow prebuilds
!packages/*/prebuilds/

# TensorFlow binary tarballs (released manually)
tensorflow-binaries-*.tar.gz